# arnold-random-quotes stop systemd timer unit file

[Unit]
Description=Stop arnold-random-quotes every day at 00:00

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*-*-* 00:00:00
